* {
    box-sizing: border-box;
}
.container {

    .row {
        width: 100%;

        .col-md-4 {
            width: 33.33%;
            float: left;
        }


    }

    .top-10 {
        margin-top: 10px;
    }
}